<!DOCTYPE html>
<html lang="en">
  <!-- {% include head.html %} -->
  <body>
    <!-- {% include nav.html %} -->

    <div>
    <p>Log In to Startbook</p>
    <p>Android: <a target="_blank" href="https://android.startbook.app/">https://android.startbook.app</a></p>
    <p>iOS: <a target="_blank" href="https://ios.startbook.app/">https://ios.startbook.app</a></p>
    <p>Web UCLSoM: <a target="_blank" href="https://uclsom-pitch-day.startbook.app/">https://uclsom-pitch-day.startbook.app</a></p>
    <p>Web UCLHoF: <a target="_blank" href="https://uclhof-pitch-day.startbook.app/">https://uclhof-pitch-day.startbook.app</a></p>
    </div>

    <!-- {% include footer.html %} -->
  </body>
</html>

















<!-- 


---
layout: multi
---

<section style="margin-top: 50px; text-align: center; color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <img width="100%" src="/assets/img/startbook-logo-square.png" />
      </div>
      <div class="col-md-12">
        <h1>
          Empowering the next generation of founders
        </h1>
        <p class="lead">
          We provide accelerators and incubators with products and services to
          help their entrepreneurship programmes succeed.
        </p>
      </div>
    </div>
  </div>
</section> -->
